.dropdown{
  .dropdown-toogle{
    display: inline-block;
    padding: 0.5rem 1rem;
    border: 1px solid #ced4da;
    border-radius: 5px;
    cursor: pointer;
  }
  .dropdown-menu {
    display: block;
    .dropdown-item {
      cursor: pointer;
    }
  }
}