@import '../../styles/base/settings';

.sidebar{
  height: 100vh;
  background-color: #313540;
  display: flex;
  flex-direction: column;
  color: #9c9da0;

  .sidebar-brand{
    padding: 0.75rem 2.5rem;
  }

  .sidebar-item{
    padding: 1.2rem 2.5rem;
    font-size: 14px;
    font-weight: normal;
    a {
      color: inherit;
    }
  }
  .sidebar-item.active {
    background-color: $primary;
    color: $white;
  }
}