* {
  box-sizing: border-box;
}

// html {
//   font-size: 62.5%;
// }

body {
  color: #000000;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  height: 100vh;
  background-color: $background;
  // font-size: $m-size;
  // line-height: 1.6;
}
#app {
  height: 100%;
  background: $background;
}
.page {
  height: 100vh;
}
button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.is-active {
  font-weight: bold;
}

.loader {
  z-index: 1001;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 42px;
  height: 42px;
  margin: 6px;
  border: 3px solid #151b26;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #151b26 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

i.arrow {
  border: solid #ced4da;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-left: 1rem;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

