.container{
  width: 75%;
  margin: auto;
}

.cursor-pointer { cursor: pointer; };
.t-c { text-align: center; };

.message {
  position: fixed;
  top: 5%;
  right: 5%;
  padding: 1.5rem 2rem;
  color: #ffffff;
  font-weight: bold;
  opacity: 0;
  animation-name: toast-message;
  animation-duration: 4s;
}
.success-message {
  background-color: green; 
}

.error-message {
  background-color: red;
}

/* Standard syntax */
@keyframes toast-message {
  from {opacity: 0}
  to {opacity: 1}
}